doctype html
html
  head
    header
      link(rel='stylesheet', href='/css/course.css')
      link(rel='stylesheet', href='highlight/styles/dlab.min.css')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
      script(src='/highlight/highlight.min.js')
  body
    pre(align='left', dir='ltr')
      code( id='no3' )
  script.
    $( "#no3" ).hide();
    $( "#no3" ).load( "/no3.jl", function()
    {
      $(document).ready(function() {
        $('pre code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
      });
      $( "#no3" ).show();
    });