<!DOCTYPE html>
<html>
   <head>
      <header />
      <link rel="stylesheet" href="/css/course.css">
      <link rel="stylesheet" href="highlight/styles/dlab.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
      <script src="/highlight/highlight.min.js"></script>
   </head>
   <body>
      <pre align="left" dir="ltr"><code id="no2"></code></pre>
   </body>
   <script>
      $( "#no2" ).hide();
       $( "#no2" ).load( "/no2.jl", function()
       {
      $(document).ready(function() {
        $('pre code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
      });
         $( "#no2" ).show();
       });
   </script>
</html>
